img{
    width:100%;
    
    box-shadow:2px 2px 8px black;
}
body{
    background-color:black;
    text-align: center;
    color: white;

}
#player-pic{
    background-color: green;
}
#opponent-pic{
    background-color: red;
}

#character-container{
    width: 100%;
    background-color: rgb(100, 90, 59);
}
#character-container .row{
    width: 100%;
    margin: 0 auto;
}
.chosen-pic{
    visibility: hidden;
}
.choose-row-pic{
    height: 100px;
    width: auto;
    border: black;
}
#vs{
    position:relative;
    font-size: 50px;
    top: 50px;
    left: 20px;
    
}
#card-container{
    width: 65%;
}
.card-img-top{
    height: 250px;
    width: auto;
}
.card-text{
    font-size: 30px;
}
#main{
    margin-top: 30px;
}
#game-title{
    font-family: 'Iceberg', cursive;
color: rgb(48, 150, 48);
font-size: 70px;
}
#attack-btn{
    display: none;
}