img{
    width:100%;
    
    box-shadow:2px 2px 8px black;
}
body{
    background-color:grey;
    text-align: center;

}
#player-pic{
    background-color: green;
}
#opponent-pic{
    background-color: red;
}

#character-container{
    width: 100%;
    background-color: black;
}
#character-container .row{
    width: 100%;
    margin: 0 auto;
}
.chosen-pic{
    visibility: hidden;
}
.choose-row-pic{
    height: 100px;
    width: auto;
    border: black;
}
#vs{
    position:relative;
    font-size: 50px;
    top: 50px;
    left: 20px;
    
}
#card-container{
    width: 65%;
}
.card-img-top{
    height: 300px;
    width: auto;
}
#main{
    margin-top: 50px;
}